In [6]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head(3)
purchase_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Purchase ID  780 non-null    int64
 1   SN           780 non-null    object
 2   Age          780 non-null    int64
 3   Gender       780 non-null    object
 4   Item ID      780 non-null    int64
 5   Item Name    780 non-null    object
 6   Price        780 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.8+ KB

# Player Count
- Display the total number of players

In [36]:
# Extract SN column then count number of unique players
purchase_data_unique = purchase_data.drop_duplicates(subset=['SN'])
playersCount = len(purchase_data_unique)

# Store count to a dataframe and display
total_df=pd.DataFrame({"Total Players":[playersCount]})
total_df

   Total Players
0            576

In [32]:
# Number of unique items
items = purchase_data['Item ID']
itemCount = len(items.unique())

# Number of Purchases
purCount = len(purchase_data)

# Total Revenue
price = purchase_data['Price']
priceSum = price.sum()

# Average price
priceAvg = priceSum/len(purchase_data)

# Dictionary of results
purAnalysis_dict ={"Number of Unique Items":[itemCount],
                  "Average Price":[priceAvg],
                  "Number of Purchases":[purCount],
                  "Total Revenue": [priceSum]}

# Save dictionary as data frame and display
purAnalysis_df = pd.DataFrame(purAnalysis_dict)
purAnalysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [52]:
# Take unique SN subset and group by gender
gender_group=purchase_data_unique.groupby('Gender')
# Get gender counts
gender_count = gender_group['Gender'].count()
gender_df = pd.DataFrame({'Total Count':gender_count})
# Calculate percentage
gender_df["Percentage of Players"]= [(each/playersCount)*100 for each in gender_count]
# Display summary data frame
gender_df

                       Total Count  Percentage of Players
Gender
Female                          81              14.062500
Male                           484              84.027778
Other / Non-Disclosed           11               1.909722

In [ ]:
# Male subset
male_df = purchase_data