In [42]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count
- Display the total number of players

In [2]:
# Extract SN column then count number of unique players
purchase_data_unique = purchase_data.drop_duplicates(subset=['SN'])
playersCount = len(purchase_data_unique)

# Store count to a dataframe and display
total_df=pd.DataFrame({"Total Players":[playersCount]})
total_df

   Total Players
0            576

## Purchasing Analysis (Total)

In [3]:
# Number of unique items
items = purchase_data['Item ID']
itemCount = len(items.unique())

# Number of Purchases
purCount = len(purchase_data)

# Total Revenue
price = purchase_data['Price']
priceSum = price.sum()

# Average price
priceAvg = priceSum/len(purchase_data)

# Dictionary of results
purAnalysis_dict ={"Number of Unique Items":[itemCount],
                  "Average Price":[priceAvg],
                  "Number of Purchases":[purCount],
                  "Total Revenue": [priceSum]}

# Save dictionary as data frame and display
purAnalysis_df = pd.DataFrame(purAnalysis_dict)
purAnalysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

##  Gender Demographics

In [19]:
# Take unique SN subset and group by gender
unique=purchase_data.un
male_count = purchase_data[purchase_data["Gender"]=="Male"]
female_count = purchase_data[purchase_data["Gender"]=="Female"]
other_count = purchase_data[purchase_data["Gender"]=="Other / Non-Disclosed"]
# Get gender counts
gender_count = gender_group_un['Gender'].count()
gender_df = pd.DataFrame({'Total Count':[gender_count],}, index=['Male', 'Female', 'Other/Non-Disclosed'])
# Calculate percentage
gender_df["Percentage of Players"]= [(each/playersCount)*100 for each in gender_count]
# Display summary data frame
gender_df

                       Total Count  Percentage of Players
Gender
Female                          81              14.062500
Male                           484              84.027778
Other / Non-Disclosed           11               1.909722

## Purchasing Analysis (Gender)

In [45]:
male_df = purchase_data[purchase_data["Gender"]=="Male"]
# female_df = purchase_data[purchase_data["Gender"]=="Female"]
# other_df = purchase_data[purchase_data["Gender"]=="Other / Non-Disclosed"]
sn_group=purchase_data.groupby('SN')
sn_totalPur=sn_group["Price"].sum()

# sn_gender=pd.DataFrame({'Total Purchase per Player':sn_totalPur})
sn_gender=pd.DataFrame({"Total Purchases":sn_totalPur})
gender_group=purchase_data.groupby('Gender')
purCount = gender_group['Item ID'].count()
totalPur = gender_group['Price'].sum()
purAvg = gender_group['Price'].mean()
purAnalysis_gender_df = pd.DataFrame({'Purchase Count': purCount,
                                     'Average Purchase Price': purAvg,
                                     'Total Purchase Value': totalPur})

purAnalysis_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,3.203009,361.94
Male,652,3.017853,1967.64
Other / Non-Disclosed,15,3.346000,50.19